html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.signInContainer {
    background-color: #efefee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    background-color: #fff;
    min-height: 300px;
    max-height: 100%;
    width: 450px;
    box-shadow: rgba(0,0,0, 0.1) 0 1px 2px;
}